/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background: $mainBlueBackground;
  color: #888;
  font: 300 1rem/1.375rem "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* this causes the padding to NOT be included in the width calculations of a div. 
   It makes more sense to not include padding or border size in the calculation of width and height */
* {
  box-sizing: border-box;
}

img {
  /* this makes images always fit within the browser window - ie. so they dont scroll left to right when too large */
  max-width: 100%;
  max-height: auto;
}

/*
  ========================================
  Grid
  ========================================
*/

.container,
.grid {
  margin: 0 auto;
  @mixin atLarge {
    width: 960px;
  }
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3 {
  width: 100%;
  padding-top: 3px;
  border-bottom: 1px solid #a9b2b9;
  p {
    margin-top: 0px;
  }
  &--no-border-bottom {
    border-bottom: none;
  }
  &--no-margin-bottom {
    margin-bottom: 0px;
  }
  @mixin atLarge {
    padding-top: 0;
    width: 33.33%;
    border-bottom: none;
  }
}
.col-2-3 {
  width: 100%;
  @mixin atLarge {
    width: 66.66%;
  }
}
.col-1-3,
.col-2-3 {
  @mixin atLarge {
    vertical-align: top;
    display: inline-block;
  }
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1, h2, h3, h4 {
  color: $mainGreen;
}

h1 {
  font-size: 1.6rem;
  line-height: 2rem;
  @mixin atLarge {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
h2 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 1.5rem;
  line-height: 1.8rem;
  @mixin atSmall {
    line-height: 2.75rem;
  }
}
h3 {
  font-size: 1.3125rem;
  margin-bottom: 10px;
  @mixin atSmall {
    margin-bottom: 22px;
  }
}
h4 {
  font-size: 1.125rem;
  margin-bottom: 8px;
  @mixin atSmall {
    margin-bottom: 22px;
  }
}

h5 {
  color: #a9b2b9;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 18px;
  @mixin atSmall {
    margin-top: 25px;
  }
  @mixin atLarge {
    font-size: 0.875rem;
  }
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a:hover {
  color: #a9b2b9;
}
a {
  color: #648880;
  text-decoration: none;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

.primary-footer small {
  font-weight: 400;
  float: none;
  @mixin atMedium {
    float: left;
  }
}

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 26px;
  padding-top: 20px;
  @mixin atSmall {
    padding-bottom: 44px;
    padding-top: 44px;
  }
}

/*
  ========================================
  Schedule
  ========================================
*/

table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}
thead {
  line-height: 44px;
}
thead th {
  color: #648880;
  font-size: 24px;
}
th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}
.schedule-offset {
  color: #a9b2b9;
}

/*
  ========================================
  Venue
  ========================================
*/

.venue-theatre {
  margin-bottom: 66px;
}
.venue-hotel {
  margin-bottom: 22px;
}
.venue-map {
  height: 264px;
}

