/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  @mixin atLarge {
    font-size: 1.3125rem;
    line-height: 2.0625rem;
  }
}