/*
  ========================================
  Schedule
  ========================================
*/

table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}
thead {
  line-height: 44px;
}
thead {
  th {
    color: #648880;
    font-size: 1.2rem;
    @mixin atLarge {
      font-size: 1.5rem;
    }
  }
  td {
    color: #a9b2b9;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    @mixin atLarge {
      text-align: left;
    }
  }
}
th,
td {
  padding-bottom: 10px;
  vertical-align: top;
  @mixin atSmall {
    padding-bottom: 22px;
  }
}
th {
  padding-right: 0px;
  width: 5%;
  text-align: left;
  @mixin atLarge {
    width: 20%;
    text-align: right;
    padding-right: 45px;
  }
}
td {
  width: 30%;
  font-size: 0.9rem;
  @mixin atSmall {
    width: 40%;
    font-size: 1rem;
  }
}
tbody th {
  color: #a9b2b9;
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 10px;
  text-transform: uppercase;
  @mixin atSmall {
    padding-top: 22px;
  }
  @mixin atLarge {
    padding-top: 22px;
  }
}
tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 0px;
}
tbody td:first-of-type {
  padding-right: 0px;
  @mixin atSmall {
    padding-right: 15px;
  }
}
tbody td:last-of-type {
  padding-left: 5px;
  @mixin atSmall {
    padding-left: 15px;
  }
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
  font-size: 0.85rem;
  @mixin atSmall {
    font-size: 1rem;
  }
}
table h4 {
  margin-bottom: 0;
  margin-top: 9px;
  font-size: 0.85rem;
  @mixin atSmall {
    margin-top: 22px;
    font-size: 1.1rem;
  }
}
.schedule-offset {
  color: #a9b2b9;
  padding-top: 10px;
  @mixin atSmall {
    padding-top: 22px;
  }
}