.site-header {
  a {
    color: #fff;
  }
  a:hover {
    color: $mainGreen;
  }
  &__logo {
    float: left;
    border-top: 4px solid $mainGreen;
    padding: 40px 0 8px 0;
    font-size: 48px;
    line-height: 44px;
    font-weight: 100;
    letter-spacing: .5px;
    text-transform: uppercase;
  }
  &__tagline {
    float: right;
    margin: 66px 0 22px 0;
  }
}
